.btn {
  @include font(14px, 17px, 800, $col-white, $font-primary);
  padding: 1.2rem 2.5rem;
  border-radius: 4px;
  background-color: $col-primary;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $col-primary-light;
  }

  &:disabled {
    opacity: 0.3;
    filter: $drop-shadow-10;
  }

  &--secondary {
    background-color: $col-white;
    border: 1px solid $col-grey-500;
    color: $col-black;

    &:hover {
      border-color: $col-black;
      background-color: $col-white;
    }
  }
  svg {
    height: 1.3rem;
    width: 2rem;
    fill: $col-white;
  }
}

.btn__cont {
  @include flex(row, space-between, center);
  gap: 2rem;
}

.like {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 1rem;
  border-radius: 500px;
  border: none;
  border: 1px solid black;
  font-size: 2rem;
  line-height: 0.6;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}
.bookmark {
  background-color: $col-primary-light;
  color: $col-white;
  border: 1px solid $col-white;
}
