.gallery {
  display: grid;
  grid-area: gallery;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  width: 100%;
  min-height: 80vh;
  padding: 3rem;
  align-content: start;
  @media only screen and (max-width: 675px) {
    grid-template-columns: repeat(1, 1fr);
  }
  &--favourites {
    max-width: 300px;
  }

  .card {
    border: 2px solid $col-grey-600;
    border-radius: 6px;
    background-color: $col-grey-500;
    position: relative;
    max-height: 30rem;
    overflow: hidden;
    @include flex(row, center, center);
    filter: $drop-shadow-10;
    transition: all 0.3s;
    filter: saturate(30%);

    &:hover {
      transform: scale(1.03);
      border: 3px solid $col-grey-800;
      filter: saturate(100%);
    }

    &__img {
      width: 100%;
      height: auto;
      border-radius: 6px;
      filter: blur(1px);
      overflow: hidden;
      transition: all 0.3s;
      opacity: 0.7;
    }
    :hover {
      filter: blur(0);
      opacity: 1;
    }
  }
  .bookmarks {
    display: grid;
    grid-area: gallery;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    width: 100%;
    align-content: flex-start;
    padding: 3rem;
  }
}
