.search__results {
  width: 100%;
  list-style: none;
  background-color: $col-white;
  position: absolute;
  top: 4.2rem;
  border: 1px solid $col-grey-500;
  @include flex(column, _, center);

  &__item {
    @include flex(row, space-between, center);
    cursor: pointer;
    width: 100%;
    height: 3.6rem;
    padding-left: 1rem;
    transition: all 0.3s;
    &:hover {
      // transform: scale(101%);
      background-color: $col-primary-light;
      color: $col-white;
      border-bottom: 1px solid $col-primary;
    }
  }
}
.search {
  @media only screen and (max-width: 750px) {
    order: 3;
  }
}
.search__field {
  @include flex(column);
  max-width: 50rem;
}

.search__cont {
  @include flex(column);
  max-width: 50rem;
  max-height: 400rem;
  position: relative;
  z-index: 100;
}
