@mixin font($size, $line, $weight, $color: false, $font: false) {
    @if ($font) {
        font-family: $font;
    }

    @if ($color) {
        color: $color;
    }

    font-size: $size;
    line-height: $line;
    font-weight: $weight;
}

@mixin flex($direction: false, $justify: false, $align: false) {
    display: flex;

    @if ($direction) {
        flex-direction: $direction;
    }

    @if ($align) {
        align-items: $align;
    }

    @if ($justify) {
        justify-content: $justify;
    }
}