//colors
$col-red-400: #F67F7F;
$col-red-500: #F34E4E;


$col-blue-400: #7BB9FA;


$col-grey-300:#FFF6EA;
$col-grey-400:#F3F3F3;
$col-grey-500:#D0D0D0;
$col-grey-600:#AFAFAF;
$col-grey-800: #282828;

$col-white: #FFF;
$col-black: #000;

$col-primary: $col-red-500;
$col-primary-light: $col-red-400;

$col-secondary: $col-grey-300;

// fonts

$font-primary: Montserrat,
sans-serif;

// filters

$drop-shadow-10: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

// margins

$mb-xs: 5px;
$mb-s: 10px;
$mb-m: 15px;
$mb-l: 25px;
$mb-xl: 40px;
$mb-xxl: 65px;